chinaTour.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: chinaTour
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/deepseek:0.0.5@fd6efd37c2a931911de8ab9ca3ba2da303bef146d45ee87ad896b04b36d09403
kind: app
version: 0.1.5
workflow:
  conversation_variables:
  - description: ''
    id: d0e93f7e-4cf7-41b2-9652-2463b647afa1
    name: keyword
    selector:
    - conversation
    - keyword
    value: ''
    value_type: string
  - description: ''
    id: 5b654b26-7b6c-4b97-bac9-82445ffeac3f
    name: KBResult
    selector:
    - conversation
    - KBResult
    value: ''
    value_type: string
  - description: ''
    id: 2b4f57b0-b98d-4ae5-a3a2-8bfe824f449c
    name: weatherInfo
    selector:
    - conversation
    - weatherInfo
    value: ''
    value_type: string
  - description: ''
    id: ebb7fbae-9980-4ee9-9a55-2190004424e5
    name: keywordResult
    selector:
    - conversation
    - keywordResult
    value: ''
    value_type: string
  - description: ''
    id: aaf131e1-d6c7-48d0-bdc8-0474115e97f6
    name: city
    selector:
    - conversation
    - city
    value: ''
    value_type: string
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInLoop: false
        sourceType: start
        targetType: question-classifier
      id: 1744477827243-source-1746424673410-target
      selected: false
      source: '1744477827243'
      sourceHandle: source
      target: '1746424673410'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: code
      id: 1746577990226-source-1746578086474-target
      selected: false
      source: '1746577990226'
      sourceHandle: source
      target: '1746578086474'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: parameter-extractor
        targetType: if-else
      id: 1744483771179-source-1744488838031-target
      selected: false
      source: '1744483771179'
      sourceHandle: source
      target: '1744488838031'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: parameter-extractor
      id: 1746424673410-2-1744483771179-target
      selected: false
      source: '1746424673410'
      sourceHandle: '2'
      target: '1744483771179'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: parameter-extractor
        targetType: if-else
      id: 17465828861940-source-17465829752090-target
      selected: false
      source: '17465828861940'
      sourceHandle: source
      target: '17465829752090'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: knowledge-retrieval
      id: 1746590784411-source-1746577990226-target
      selected: false
      source: '1746590784411'
      sourceHandle: source
      target: '1746577990226'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: code
      id: 1746590784411-source-1746593286339-target
      selected: false
      source: '1746590784411'
      sourceHandle: source
      target: '1746593286339'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: http-request
      id: 1746593286339-source-1746593206324-target
      selected: false
      source: '1746593286339'
      sourceHandle: source
      target: '1746593206324'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: http-request
      id: 17465829752090-true-1746594360364-target
      source: '17465829752090'
      sourceHandle: 'true'
      target: '1746594360364'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: assigner
      id: 1746595508876-true-1746595608003-target
      source: '1746595508876'
      sourceHandle: 'true'
      target: '1746595608003'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: assigner
        targetType: if-else
      id: 1745562991267-source-1746595837850-target
      source: '1745562991267'
      sourceHandle: source
      target: '1746595837850'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: assigner
      id: 1746595837850-true-1746595917300-target
      source: '1746595837850'
      sourceHandle: 'true'
      target: '1746595917300'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: assigner
        targetType: http-request
      id: 1746595917300-source-17465959539980-target
      source: '1746595917300'
      sourceHandle: source
      target: '17465959539980'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: http-request
        targetType: assigner
      id: 17465959539980-source-1746596167251-target
      source: '17465959539980'
      sourceHandle: source
      target: '1746596167251'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: http-request
        targetType: assigner
      id: 1746594360364-source-1746596287406-target
      source: '1746594360364'
      sourceHandle: source
      target: '1746596287406'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: http-request
        targetType: assigner
      id: 1746593206324-source-1746596436732-target
      source: '1746593206324'
      sourceHandle: source
      target: '1746596436732'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: assigner
      id: 1746578086474-source-1746596530844-target
      source: '1746578086474'
      sourceHandle: source
      target: '1746596530844'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: assigner
        targetType: code
      id: 1746595608003-source-1746597349308-target
      source: '1746595608003'
      sourceHandle: source
      target: '1746597349308'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: knowledge-retrieval
      id: 1746597349308-source-1746597056348-target
      source: '1746597349308'
      sourceHandle: source
      target: '1746597056348'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: assigner
      id: 1746595528204-source-1746596146444-target
      source: '1746595528204'
      sourceHandle: source
      target: '1746596146444'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: assigner
        targetType: http-request
      id: 1746595608003-source-1746595528204-target
      source: '1746595608003'
      sourceHandle: source
      target: '1746595528204'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: code
      id: 1746597056348-source-17465975435400-target
      source: '1746597056348'
      sourceHandle: source
      target: '17465975435400'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: assigner
      id: 17465975435400-source-17465975824510-target
      source: '17465975435400'
      sourceHandle: source
      target: '17465975824510'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: knowledge-retrieval
      id: 1746595508876-false-1746597844659-target
      source: '1746595508876'
      sourceHandle: 'false'
      target: '1746597844659'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: assigner
      id: 1744488801528-source-1745562772330-target
      source: '1744488801528'
      sourceHandle: source
      target: '1745562772330'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: code
      id: 1746597844659-source-17465978991400-target
      source: '1746597844659'
      sourceHandle: source
      target: '17465978991400'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: assigner
      id: 17465978991400-source-17465979551130-target
      source: '17465978991400'
      sourceHandle: source
      target: '17465979551130'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: assigner
        targetType: http-request
      id: 17465979551130-source-1744488801528-target
      source: '17465979551130'
      sourceHandle: source
      target: '1744488801528'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: assigner
        targetType: http-request
      id: 17465975824510-source-1744488801528-target
      source: '17465975824510'
      sourceHandle: source
      target: '1744488801528'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: assigner
      id: 1746595837850-false-1746598179965-target
      source: '1746595837850'
      sourceHandle: 'false'
      target: '1746598179965'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: assigner
      id: 17465978991400-source-1746599184540-target
      source: '17465978991400'
      sourceHandle: source
      target: '1746599184540'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: assigner
        targetType: llm
      id: 1746596146444-source-1744526893738-target
      source: '1746596146444'
      sourceHandle: source
      target: '1744526893738'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: assigner
        targetType: llm
      id: 1745562772330-source-1744526893738-target
      source: '1745562772330'
      sourceHandle: source
      target: '1744526893738'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: assigner
        targetType: llm
      id: 1746599184540-source-1744526893738-target
      source: '1746599184540'
      sourceHandle: source
      target: '1744526893738'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: assigner
        targetType: llm
      id: 1746596167251-source-1744526893738-target
      source: '1746596167251'
      sourceHandle: source
      target: '1744526893738'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: assigner
        targetType: llm
      id: 1746598179965-source-1744526893738-target
      source: '1746598179965'
      sourceHandle: source
      target: '1744526893738'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: assigner
        targetType: llm
      id: 1746596287406-source-1744526893738-target
      source: '1746596287406'
      sourceHandle: source
      target: '1744526893738'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: assigner
        targetType: llm
      id: 1746596436732-source-1744526893738-target
      source: '1746596436732'
      sourceHandle: source
      target: '1744526893738'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: assigner
        targetType: llm
      id: 1746596530844-source-1744526893738-target
      source: '1746596530844'
      sourceHandle: source
      target: '1744526893738'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1744526893738-source-answer-target
      source: '1744526893738'
      sourceHandle: source
      target: answer
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: question-classifier
        targetType: assigner
      id: 1746424673410-1-1746606626988-target
      source: '1746424673410'
      sourceHandle: '1'
      target: '1746606626988'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: assigner
        targetType: parameter-extractor
      id: 1746606626988-source-17465828861940-target
      source: '1746606626988'
      sourceHandle: source
      target: '17465828861940'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: assigner
      id: 17465829752090-false-1746631085751-target
      source: '17465829752090'
      sourceHandle: 'false'
      target: '1746631085751'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: assigner
        targetType: http-request
      id: 1746631085751-source-1746594360364-target
      source: '1746631085751'
      sourceHandle: source
      target: '1746594360364'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: assigner
      id: 17465829752090-true-1746631108935-target
      source: '17465829752090'
      sourceHandle: 'true'
      target: '1746631108935'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: assigner
        targetType: code
      id: 1746631108935-source-1746590784411-target
      source: '1746631108935'
      sourceHandle: source
      target: '1746590784411'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: question-classifier
        targetType: assigner
      id: 1746424673410-1746425047395-1746631141713-target
      source: '1746424673410'
      sourceHandle: '1746425047395'
      target: '1746631141713'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: assigner
      id: 1744488838031-true-1746631207095-target
      source: '1744488838031'
      sourceHandle: 'true'
      target: '1746631207095'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: assigner
        targetType: if-else
      id: 1746631207095-source-1746595508876-target
      source: '1746631207095'
      sourceHandle: source
      target: '1746595508876'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: assigner
      id: 1744488838031-false-1746631226935-target
      source: '1744488838031'
      sourceHandle: 'false'
      target: '1746631226935'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: assigner
        targetType: assigner
      id: 1746631226935-source-1745562991267-target
      source: '1746631226935'
      sourceHandle: source
      target: '1745562991267'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: assigner
        targetType: assigner
      id: 1746631141713-source-1746631273597-target
      source: '1746631141713'
      sourceHandle: source
      target: '1746631273597'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: assigner
        targetType: assigner
      id: 1746631273597-source-1746631313575-target
      source: '1746631273597'
      sourceHandle: source
      target: '1746631313575'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: assigner
        targetType: assigner
      id: 1746631313575-source-1746631385055-target
      source: '1746631313575'
      sourceHandle: source
      target: '1746631385055'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: assigner
        targetType: assigner
      id: 1746631385055-source-1746631407127-target
      source: '1746631385055'
      sourceHandle: source
      target: '1746631407127'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: assigner
        targetType: llm
      id: 1746631407127-source-1744526893738-target
      source: '1746631407127'
      sourceHandle: source
      target: '1744526893738'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 开始
        type: start
        variables:
        - label: city
          max_length: 60
          options: []
          required: false
          type: text-input
          variable: city
        - label: latitude
          max_length: 48
          options: []
          required: false
          type: number
          variable: latitude
        - label: longitude
          max_length: 48
          options: []
          required: false
          type: number
          variable: longitude
      height: 141
      id: '1744477827243'
      position:
        x: -640.2069202200145
        y: 323.8784359480465
      positionAbsolute:
        x: -640.2069202200145
        y: 323.8784359480465
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#1744526893738.text#}}

          <cityKeyword>{{#conversation.city#}},{{#1744483771179.keywords#}}'
        desc: ''
        selected: false
        title: 直接回复
        type: answer
        variables: []
      height: 142
      id: answer
      position:
        x: 9518
        y: 364.81532145759354
      positionAbsolute:
        x: 9518
        y: 364.81532145759354
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: keywords + city
        instruction: "### 角色   您是一个旅游领域的信息提取专家，需要从用户问题中精准提取高德地图API所需的参数。 \n### 输入\
          \   用户问题\n### 提取规则   \n1. **keywords**（必需）：     - 提取所有旅游相关兴趣点（景点/餐饮/交通等）\
          \     - 格式要求：直接合并为字符串，用空格分隔多关键词     - 示例：       - 输入：\"故宫附近有什么好吃的？\" → 输出：\"\
          故宫 餐饮\"       - 输入：\"从静安寺到外滩怎么坐地铁\" → 输出：\"静安寺 外滩 地铁\"   - 输入：\"温州有哪些景点呢\"\
          \ → 输出：\"景点\"\n2. **query_city**（可选）：     - 仅当问题中明确提及城市名时提取     - 必须为地级市及以上行政单位（如\"\
          北京\"、\"杭州市\"）     - 禁止推测未提及的城市   - 示例：       - 输入：\"北京的地铁站有几个？\" → 输出：\"\
          北京\"\n### 输出格式   ```json   {    \"keywords\": \"{keywords}\",    \"query_city\"\
          : \"{query_city}\"  // 若无则输出空字符串\"\"   }"
        model:
          completion_params:
            format: json
            temperature: 0.5
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        parameters:
        - description: 查询关键词
          name: keywords
          required: true
          type: string
        - description: 查询城市。可选值：城市中文、中文全拼、citycode、adcode
          name: query_city
          required: false
          type: string
        query:
        - sys
        - query
        reasoning_mode: prompt
        selected: false
        title: '提取关键字(必需) 和 城市(可选) '
        type: parameter-extractor
        variables: []
        vision:
          enabled: false
      height: 117
      id: '1744483771179'
      position:
        x: 224.70704855678377
        y: 364.81532145759354
      positionAbsolute:
        x: 224.70704855678377
        y: 364.81532145759354
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: []
          type: none
        desc: 输入提示功能 api调用
        headers: ''
        method: get
        params: 'key:c4d54c70abf3840c7b02b6331f498e2f

          datatype:all

          keywords:{{#1744483771179.keywords#}}

          city:{{#conversation.city#}}'
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: 高德Amap搜索
        type: http-request
        url: https://restapi.amap.com/v3/assistant/inputtips
        variables: []
      height: 163
      id: '1744488801528'
      position:
        x: 3588.36242802515
        y: 315.55201717337593
      positionAbsolute:
        x: 3588.36242802515
        y: 315.55201717337593
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: not empty
            id: 8bf1cd5f-4140-4994-8102-4d5284e71841
            value: ''
            varType: string
            variable_selector:
            - '1744483771179'
            - keywords
          id: 'true'
          logical_operator: and
        desc: ''
        selected: false
        title: LLM提取的关键词
        type: if-else
      height: 125
      id: '1744488838031'
      position:
        x: 570.5421806068282
        y: 364.81532145759354
      positionAbsolute:
        x: 570.5421806068282
        y: 364.81532145759354
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params: {}
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: dd8691de-aeb1-4055-be32-dae739a7de56
          role: system
          text: "# 角色   您是一个旅游领域的问答专家, 名字是ChinaTour，需要根据用户问题和已知的问题相关信息来充分考虑并回答\n\n\
            # 输入   用户问题：{{#sys.query#}} \n已知信息包含  地图搜索结果(json格式, tips[0]可以忽略): {{#conversation.keywordResult#}}\
            \ (为空可忽略), 天气信息: {{#conversation.weatherInfo#}}(为空可忽略), 本地知识库结果: {{#conversation.KBResult#}}(为空可忽略)\n"
        retry_config:
          max_retries: 2
          retry_enabled: true
          retry_interval: 1000
        selected: false
        title: LLM总结与整理
        type: llm
        variables: []
        vision:
          enabled: false
      height: 115
      id: '1744526893738'
      position:
        x: 8940.964404506369
        y: 340.9044688481058
      positionAbsolute:
        x: 8940.964404506369
        y: 340.9044688481058
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        author: qbx123
        desc: ''
        height: 88
        selected: false
        showAuthor: false
        text: '{"root":{"children":[{"children":[{"detail":0,"format":3,"mode":"normal","style":"font-size:
          16px;","text":"如果关键词不为空 -> 搜索地点 -> 整合到LLM","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":3,"textStyle":""},{"children":[{"detail":0,"format":3,"mode":"normal","style":"font-size:
          16px;","text":"如果地点为空 -> 获取IP属地 -> 整合到LLM","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":3,"textStyle":""},{"children":[{"detail":0,"format":3,"mode":"normal","style":"font-size:
          16px;","text":"如果bocha搜索结果均为空 -> 直接输出; 如果图片不为空 -> 图片链接存入结果; ","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":3,"textStyle":""},{"children":[{"detail":0,"format":3,"mode":"normal","style":"font-size:
          16px;","text":"如果总结为空 -> 直接输出","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":3,"textStyle":""}],"direction":"ltr","format":"","indent":0,"type":"root","version":1}}'
        theme: violet
        title: ''
        type: ''
        width: 240
      height: 88
      id: '1744640916691'
      position:
        x: -182.78797656264044
        y: -114.79920134928985
      positionAbsolute:
        x: -182.78797656264044
        y: -114.79920134928985
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 240
    - data:
        desc: ''
        items:
        - input_type: variable
          operation: over-write
          value:
          - '1744488801528'
          - body
          variable_selector:
          - conversation
          - keywordResult
          write_mode: over-write
        selected: false
        title: 变量赋值 3
        type: assigner
        version: '2'
      height: 87
      id: '1745562772330'
      position:
        x: 3994.065657249087
        y: 315.55201717337593
      positionAbsolute:
        x: 3994.065657249087
        y: 315.55201717337593
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        items:
        - input_type: variable
          operation: over-write
          value:
          - '1744483771179'
          - keywords
          variable_selector:
          - conversation
          - keywordResult
          write_mode: over-write
        selected: false
        title: 变量赋值 4
        type: assigner
        version: '2'
      height: 87
      id: '1745562991267'
      position:
        x: 1457.8106338544342
        y: 1144.0111296022446
      positionAbsolute:
        x: 1457.8106338544342
        y: 1144.0111296022446
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        classes:
        - id: '1'
          name: Question that related to current location (if the city in user query
            equals {{#1744477827243.city#}}, or use some words like "nearby my position"
            instead of mentioning clear city name)
        - id: '2'
          name: 'Question that NOT related to current location (clearly mention some
            city name)

            '
        - id: '1746425047395'
          name: Other questions (not related to weather or tourism, just general query)
        desc: ''
        instruction: ''
        instructions: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        query_variable_selector:
        - sys
        - query
        selected: false
        title: 问题分类器
        topics: []
        type: question-classifier
        vision:
          enabled: false
      height: 340
      id: '1746424673410'
      position:
        x: -269.47853687700126
        y: 335.3217334639219
      positionAbsolute:
        x: -269.47853687700126
        y: 335.3217334639219
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        dataset_ids:
        - NStUuFZ515XfyaLlV1fCQprqzAkiZ0lahbqRZf6vJEi2XIeD1d1W3G9ecCKA0gPk
        desc: ''
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: reranking_model
          reranking_model:
            model: ''
            provider: ''
          top_k: 4
        query_variable_selector:
        - '1746590784411'
        - cityKeyword
        retrieval_mode: multiple
        selected: false
        title: 知识检索
        type: knowledge-retrieval
      height: 91
      id: '1746577990226'
      position:
        x: 2204.8361533295347
        y: -586.8504669570664
      positionAbsolute:
        x: 2204.8361533295347
        y: -586.8504669570664
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "def main(parsed_result: list) -> dict:\n    # 直接从输入列表中提取content字段\n\
          \    content_list = [item.get(\"content\", \"\") for item in parsed_result]\n\
          \    combined_content = \"\\n\\n\".join(content_list)  # 用双换行符分隔不同内容\n \
          \   \n    return {\n        \"result\": combined_content\n    }"
        code_language: python3
        desc: ''
        outputs:
          result:
            children: null
            type: string
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 412
        selected: false
        title: 知识库返回内容解析
        type: code
        variables:
        - value_selector:
          - '1746577990226'
          - result
          variable: parsed_result
      height: 79
      id: '1746578086474'
      position:
        x: 2591.3176896136256
        y: -586.8504669570664
      positionAbsolute:
        x: 2591.3176896136256
        y: -586.8504669570664
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: keywords + city
        instruction: "### 角色   您是一个旅游领域的信息提取专家，需要从用户问题中精准提取高德地图API所需的参数。 \n### 输入\
          \   用户问题\n### 提取规则   \n1. **keywords**（必需）：     - 提取所有旅游相关兴趣点（景点/餐饮/交通等）\
          \     - 格式要求：直接合并为字符串，用空格分隔多关键词     - 示例：       - 输入：\"故宫附近有什么好吃的？\" → 输出：\"\
          故宫 餐饮\"       - 输入：\"从静安寺到外滩怎么坐地铁\" → 输出：\"静安寺 外滩 地铁\"   - 输入：\"温州有哪些景点呢\"\
          \ → 输出：\"景点\"\n2. **query_city**（可选）：     - 仅当问题中明确提及城市名时提取     - 必须为地级市及以上行政单位（如\"\
          北京\"、\"杭州市\"）     - 禁止推测未提及的城市   - 示例：       - 输入：\"北京的地铁站有几个？\" → 输出：\"\
          北京\"\n### 输出格式   ```json   {    \"keywords\": \"{keywords}\",    \"query_city\"\
          : \"{query_city}\"  // 若无则输出空字符串\"\"   }"
        model:
          completion_params:
            format: json
            temperature: 0.5
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        parameters:
        - description: 查询关键词
          name: keywords
          required: true
          type: string
        - description: 查询城市。可选值：城市中文、中文全拼、citycode、adcode
          name: query_city
          required: false
          type: string
        query:
        - sys
        - query
        reasoning_mode: prompt
        selected: false
        title: 提取关键字(必需) 和 城市(可选)  (1)
        type: parameter-extractor
        variables: []
        vision:
          enabled: false
      height: 117
      id: '17465828861940'
      position:
        x: 542.6320996618607
        y: -137.43492065045433
      positionAbsolute:
        x: 542.6320996618607
        y: -137.43492065045433
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: not empty
            id: 8bf1cd5f-4140-4994-8102-4d5284e71841
            value: ''
            varType: string
            variable_selector:
            - '17465828861940'
            - keywords
          id: 'true'
          logical_operator: and
        desc: ''
        selected: false
        title: LLM提取的关键词 (1)
        type: if-else
      height: 125
      id: '17465829752090'
      position:
        x: 1004.9376999910985
        y: -213.5872598790348
      positionAbsolute:
        x: 1004.9376999910985
        y: -213.5872598790348
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "def main(city: str, keywords: str) -> dict:\n    return {\n       \
          \ \"cityKeyword\": city + keywords,\n    }\n"
        code_language: python3
        desc: ''
        outputs:
          cityKeyword:
            children: null
            type: string
        retry_config:
          max_retries: 2
          retry_enabled: true
          retry_interval: 265
        selected: false
        title: 拼接city+keywords
        type: code
        variables:
        - value_selector:
          - '1744477827243'
          - city
          variable: city
        - value_selector:
          - '17465828861940'
          - keywords
          variable: keywords
      height: 79
      id: '1746590784411'
      position:
        x: 1781.2314255052577
        y: -485.86660161471616
      positionAbsolute:
        x: 1781.2314255052577
        y: -485.86660161471616
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: []
          type: none
        desc: ''
        headers: ''
        method: get
        params: 'key:c4d54c70abf3840c7b02b6331f498e2f

          datatype:all

          location:{{#1746593286339.location#}}

          keywords:{{#17465828861940.keywords#}}'
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 443
        selected: false
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: 高德关键词周边检索
        type: http-request
        url: https://restapi.amap.com/v3/assistant/inputtips
        variables: []
      height: 135
      id: '1746593206324'
      position:
        x: 2591.3176896136256
        y: -456.2625817722276
      positionAbsolute:
        x: 2591.3176896136256
        y: -456.2625817722276
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "def main(lat: float, lng: float) -> dict:\n    # 将浮点数格式化为高德API要求的字符串格式（经度,纬度）\n\
          \    location = f\"{lng:.6f},{lat:.6f}\"  # 保留6位小数，高德推荐精度\n    \n    return\
          \ {\n        \"location\": location,  # 直接用于高德API的location参数\n    }"
        code_language: python3
        desc: ''
        outputs:
          location:
            children: null
            type: string
        selected: false
        title: 拼接为经纬度字符串
        type: code
        variables:
        - value_selector:
          - '1744477827243'
          - latitude
          variable: lat
        - value_selector:
          - '1744477827243'
          - longitude
          variable: lng
      height: 53
      id: '1746593286339'
      position:
        x: 2193.161189917615
        y: -442.82957559198985
      positionAbsolute:
        x: 2193.161189917615
        y: -442.82957559198985
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: []
          type: none
        desc: ''
        headers: ''
        method: get
        params: 'key:c4d54c70abf3840c7b02b6331f498e2f

          city:{{#1744477827243.city#}}'
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 492
        selected: false
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: 本地天气请求
        type: http-request
        url: https://restapi.amap.com/v3/weather/weatherInfo
        variables: []
      height: 135
      id: '1746594360364'
      position:
        x: 2591.3176896136256
        y: -248.24064070023044
      positionAbsolute:
        x: 2591.3176896136256
        y: -248.24064070023044
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: not empty
            id: 537b5648-c03f-45d9-abf2-ef52d67b43d3
            value: ''
            varType: string
            variable_selector:
            - '1744483771179'
            - query_city
          id: 'true'
          logical_operator: and
        desc: ''
        selected: false
        title: 条件分支 3
        type: if-else
      height: 125
      id: '1746595508876'
      position:
        x: 1481.2314255052577
        y: 392.3427919371696
      positionAbsolute:
        x: 1481.2314255052577
        y: 392.3427919371696
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: []
          type: none
        desc: ''
        headers: ''
        method: get
        params: 'key:c4d54c70abf3840c7b02b6331f498e2f

          city:{{#conversation.city#}}'
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 443
        selected: false
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: 非本地天气请求(有问题城市)
        type: http-request
        url: https://restapi.amap.com/v3/weather/weatherInfo
        variables: []
      height: 135
      id: '1746595528204'
      position:
        x: 3776.7125164691943
        y: 104.44405125405166
      positionAbsolute:
        x: 3776.7125164691943
        y: 104.44405125405166
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        items:
        - input_type: variable
          operation: over-write
          value:
          - '1744483771179'
          - query_city
          variable_selector:
          - conversation
          - city
          write_mode: over-write
        selected: false
        title: city赋值
        type: assigner
        version: '2'
      height: 87
      id: '1746595608003'
      position:
        x: 1711.43943793533
        y: 90.31363263323306
      positionAbsolute:
        x: 1711.43943793533
        y: 90.31363263323306
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: not empty
            id: e5c0332a-efe8-4229-a556-0544a2cb1a0b
            value: ''
            varType: string
            variable_selector:
            - '1744483771179'
            - query_city
          id: 'true'
          logical_operator: and
        desc: ''
        selected: false
        title: 条件分支 4
        type: if-else
      height: 125
      id: '1746595837850'
      position:
        x: 1936.000000000004
        y: 1069.8626072929724
      positionAbsolute:
        x: 1936.000000000004
        y: 1069.8626072929724
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        items:
        - input_type: variable
          operation: over-write
          value:
          - '1744483771179'
          - query_city
          variable_selector:
          - conversation
          - city
          write_mode: over-write
        selected: false
        title: city赋值
        type: assigner
        version: '2'
      height: 87
      id: '1746595917300'
      position:
        x: 2231.375499700199
        y: 924.0216387099375
      positionAbsolute:
        x: 2231.375499700199
        y: 924.0216387099375
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: []
          type: none
        desc: ''
        headers: ''
        method: get
        params: 'key:c4d54c70abf3840c7b02b6331f498e2f

          city:{{#conversation.city#}}'
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 443
        selected: false
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: 非本地天气请求(有问题城市) (1)
        type: http-request
        url: https://restapi.amap.com/v3/weather/weatherInfo
        variables: []
      height: 135
      id: '17465959539980'
      position:
        x: 2812.105430290624
        y: 833.2028436891097
      positionAbsolute:
        x: 2812.105430290624
        y: 833.2028436891097
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        items:
        - input_type: variable
          operation: over-write
          value:
          - '1746595528204'
          - body
          variable_selector:
          - conversation
          - weatherInfo
          write_mode: over-write
        selected: false
        title: 变量赋值 5
        type: assigner
        version: '2'
      height: 87
      id: '1746596146444'
      position:
        x: 4308.231868622837
        y: 228.0889249831502
      positionAbsolute:
        x: 4308.231868622837
        y: 228.0889249831502
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        items:
        - input_type: variable
          operation: over-write
          value:
          - '17465959539980'
          - body
          variable_selector:
          - conversation
          - weatherInfo
          write_mode: over-write
        selected: false
        title: 变量赋值 6
        type: assigner
        version: '2'
      height: 87
      id: '1746596167251'
      position:
        x: 3210.1694362258277
        y: 762.193113271119
      positionAbsolute:
        x: 3210.1694362258277
        y: 762.193113271119
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        items:
        - input_type: variable
          operation: over-write
          value:
          - '1746594360364'
          - body
          variable_selector:
          - conversation
          - weatherInfo
          write_mode: over-write
        selected: false
        title: 变量赋值 7
        type: assigner
        version: '2'
      height: 87
      id: '1746596287406'
      position:
        x: 2998.042656082568
        y: -259.0603259002606
      positionAbsolute:
        x: 2998.042656082568
        y: -259.0603259002606
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        items:
        - input_type: variable
          operation: over-write
          value:
          - '1746593206324'
          - body
          variable_selector:
          - conversation
          - keywordResult
          write_mode: over-write
        selected: false
        title: 变量赋值 8
        type: assigner
        version: '2'
      height: 87
      id: '1746596436732'
      position:
        x: 2984.11384706983
        y: -449.2981772658586
      positionAbsolute:
        x: 2984.11384706983
        y: -449.2981772658586
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        items:
        - input_type: variable
          operation: over-write
          value:
          - '1746578086474'
          - result
          variable_selector:
          - conversation
          - KBResult
          write_mode: over-write
        selected: false
        title: 变量赋值 9
        type: assigner
        version: '2'
      height: 87
      id: '1746596530844'
      position:
        x: 2973.667240310277
        y: -586.8504669570664
      positionAbsolute:
        x: 2973.667240310277
        y: -586.8504669570664
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        dataset_ids:
        - NStUuFZ515XfyaLlV1fCQprqzAkiZ0lahbqRZf6vJEi2XIeD1d1W3G9ecCKA0gPk
        desc: ''
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: reranking_model
          reranking_model:
            model: ''
            provider: ''
          top_k: 4
        query_variable_selector:
        - '1746597349308'
        - cityKeyword
        retrieval_mode: multiple
        selected: false
        title: 知识检索 2
        type: knowledge-retrieval
      height: 91
      id: '1746597056348'
      position:
        x: 2424.172052549994
        y: 212.83795779022992
      positionAbsolute:
        x: 2424.172052549994
        y: 212.83795779022992
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "def main(city: str, keywords: str) -> dict:\n    return {\n       \
          \ \"cityKeyword\": city + keywords,\n    }\n\n"
        code_language: python3
        desc: ''
        outputs:
          cityKeyword:
            children: null
            type: string
        selected: false
        title: 拼接keywords+city
        type: code
        variables:
        - value_selector:
          - conversation
          - city
          variable: city
        - value_selector:
          - '1744483771179'
          - keywords
          variable: keywords
      height: 53
      id: '1746597349308'
      position:
        x: 2094.3058953200707
        y: 212.83795779022992
      positionAbsolute:
        x: 2094.3058953200707
        y: 212.83795779022992
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "def main(parsed_result: list) -> dict:\n    # 直接从输入列表中提取content字段\n\
          \    content_list = [item.get(\"content\", \"\") for item in parsed_result]\n\
          \    combined_content = \"\\n\\n\".join(content_list)  # 用双换行符分隔不同内容\n \
          \   \n    return {\n        \"result\": combined_content\n    }"
        code_language: python3
        desc: ''
        outputs:
          result:
            children: null
            type: string
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 412
        selected: false
        title: 知识库返回内容解析 (1)
        type: code
        variables:
        - value_selector:
          - '1746597056348'
          - result
          variable: parsed_result
      height: 79
      id: '17465975435400'
      position:
        x: 2720.209561890861
        y: 212.83795779022992
      positionAbsolute:
        x: 2720.209561890861
        y: 212.83795779022992
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        items:
        - input_type: variable
          operation: over-write
          value:
          - '17465975435400'
          - result
          variable_selector:
          - conversation
          - KBResult
          write_mode: over-write
        selected: false
        title: 变量赋值 9 (1)
        type: assigner
        version: '2'
      height: 87
      id: '17465975824510'
      position:
        x: 3029.4882349985114
        y: 212.83795779022992
      positionAbsolute:
        x: 3029.4882349985114
        y: 212.83795779022992
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        dataset_ids:
        - NStUuFZ515XfyaLlV1fCQprqzAkiZ0lahbqRZf6vJEi2XIeD1d1W3G9ecCKA0gPk
        desc: ''
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: reranking_model
          reranking_model:
            model: ''
            provider: ''
          top_k: 4
        query_variable_selector:
        - '1744483771179'
        - keywords
        retrieval_mode: multiple
        selected: false
        title: 知识检索 3
        type: knowledge-retrieval
      height: 91
      id: '1746597844659'
      position:
        x: 2038.7125164691952
        y: 495.05430196120005
      positionAbsolute:
        x: 2038.7125164691952
        y: 495.05430196120005
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "def main(parsed_result: list) -> dict:\n    # 直接从输入列表中提取content字段\n\
          \    content_list = [item.get(\"content\", \"\") for item in parsed_result]\n\
          \    combined_content = \"\\n\\n\".join(content_list)  # 用双换行符分隔不同内容\n \
          \   \n    return {\n        \"result\": combined_content\n    }"
        code_language: python3
        desc: ''
        outputs:
          result:
            children: null
            type: string
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 412
        selected: false
        title: 知识库返回内容解析 (2)
        type: code
        variables:
        - value_selector:
          - '1746597844659'
          - result
          variable: parsed_result
      height: 79
      id: '17465978991400'
      position:
        x: 2464.864155163535
        y: 452.3256657711348
      positionAbsolute:
        x: 2464.864155163535
        y: 452.3256657711348
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        items:
        - input_type: variable
          operation: over-write
          value:
          - '17465978991400'
          - result
          variable_selector:
          - conversation
          - KBResult
          write_mode: over-write
        selected: false
        title: 变量赋值 9 (2)
        type: assigner
        version: '2'
      height: 87
      id: '17465979551130'
      position:
        x: 2909.6225025234403
        y: 392.3427919371696
      positionAbsolute:
        x: 2909.6225025234403
        y: 392.3427919371696
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        items:
        - input_type: variable
          operation: clear
          value: ''
          variable_selector:
          - conversation
          - weatherInfo
          write_mode: over-write
        selected: false
        title: 变量赋值 12
        type: assigner
        version: '2'
      height: 87
      id: '1746598179965'
      position:
        x: 3210.1694362258277
        y: 1033.5490139030169
      positionAbsolute:
        x: 3210.1694362258277
        y: 1033.5490139030169
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        items:
        - input_type: variable
          operation: clear
          value: ''
          variable_selector:
          - conversation
          - weatherInfo
          write_mode: over-write
        selected: false
        title: 变量赋值 14
        type: assigner
        version: '2'
      height: 87
      id: '1746599184540'
      position:
        x: 3767.5927913536
        y: 637.1011392970745
      positionAbsolute:
        x: 3767.5927913536
        y: 637.1011392970745
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        items:
        - input_type: variable
          operation: over-write
          value:
          - '1744477827243'
          - city
          variable_selector:
          - conversation
          - city
          write_mode: over-write
        selected: false
        title: 变量赋值 14
        type: assigner
        version: '2'
      height: 87
      id: '1746606626988'
      position:
        x: 159.92581810207435
        y: 55.546402989047465
      positionAbsolute:
        x: 159.92581810207435
        y: 55.546402989047465
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        items:
        - input_type: variable
          operation: clear
          value: ''
          variable_selector:
          - conversation
          - keyword
          write_mode: over-write
        selected: false
        title: 变量赋值 15
        type: assigner
        version: '2'
      height: 87
      id: '1746631085751'
      position:
        x: 1818.0539673548474
        y: -105.80204468059813
      positionAbsolute:
        x: 1818.0539673548474
        y: -105.80204468059813
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        items:
        - input_type: variable
          operation: over-write
          value:
          - '17465828861940'
          - keywords
          variable_selector:
          - conversation
          - keyword
          write_mode: over-write
        selected: false
        title: 变量赋值 16
        type: assigner
        version: '2'
      height: 87
      id: '1746631108935'
      position:
        x: 1370.9563834255423
        y: -485.86660161471616
      positionAbsolute:
        x: 1370.9563834255423
        y: -485.86660161471616
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        items:
        - input_type: variable
          operation: clear
          value: ''
          variable_selector:
          - conversation
          - keyword
          write_mode: over-write
        selected: false
        title: 变量赋值 17
        type: assigner
        version: '2'
      height: 87
      id: '1746631141713'
      position:
        x: 927.9247523236331
        y: 1662.8444626042428
      positionAbsolute:
        x: 927.9247523236331
        y: 1662.8444626042428
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        items:
        - input_type: variable
          operation: over-write
          value:
          - '1744483771179'
          - keywords
          variable_selector:
          - conversation
          - keyword
          write_mode: over-write
        selected: false
        title: 变量赋值 18
        type: assigner
        version: '2'
      height: 87
      id: '1746631207095'
      position:
        x: 1031.9006393556433
        y: 392.3427919371696
      positionAbsolute:
        x: 1031.9006393556433
        y: 392.3427919371696
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        items:
        - input_type: variable
          operation: clear
          value: ''
          variable_selector:
          - conversation
          - keyword
          write_mode: over-write
        selected: false
        title: 变量赋值 19
        type: assigner
        version: '2'
      height: 87
      id: '1746631226935'
      position:
        x: 1056.7251786146953
        y: 1144.0111296022446
      positionAbsolute:
        x: 1056.7251786146953
        y: 1144.0111296022446
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        items:
        - input_type: variable
          operation: clear
          value: ''
          variable_selector:
          - conversation
          - KBResult
          write_mode: over-write
        selected: false
        title: 变量赋值 20
        type: assigner
        version: '2'
      height: 87
      id: '1746631273597'
      position:
        x: 1471.1697919741557
        y: 1662.8444626042428
      positionAbsolute:
        x: 1471.1697919741557
        y: 1662.8444626042428
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        items:
        - input_type: variable
          operation: clear
          value: ''
          variable_selector:
          - conversation
          - city
          write_mode: over-write
        selected: false
        title: 变量赋值 21
        type: assigner
        version: '2'
      height: 87
      id: '1746631313575'
      position:
        x: 2000.8613014192483
        y: 1662.8444626042428
      positionAbsolute:
        x: 2000.8613014192483
        y: 1662.8444626042428
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        items:
        - input_type: variable
          operation: clear
          value: ''
          variable_selector:
          - conversation
          - weatherInfo
          write_mode: over-write
        selected: false
        title: 变量赋值 22
        type: assigner
        version: '2'
      height: 87
      id: '1746631385055'
      position:
        x: 2457.331430211556
        y: 1662.8444626042428
      positionAbsolute:
        x: 2457.331430211556
        y: 1662.8444626042428
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        items:
        - input_type: variable
          operation: clear
          value: ''
          variable_selector:
          - conversation
          - keywordResult
          write_mode: over-write
        selected: false
        title: 变量赋值 23
        type: assigner
        version: '2'
      height: 87
      id: '1746631407127'
      position:
        x: 2973.667240310277
        y: 1662.8444626042428
      positionAbsolute:
        x: 2973.667240310277
        y: 1662.8444626042428
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 345.96214143239195
      y: 147.68896273937042
      zoom: 0.43527528164806223
